/* eventSection */

.eventSection{
    background-image: url(https://imagery.zoogletools.com/u/283782/0b74025dbeb928866ee146bde7443c576b70cb89/original/branch.jpg/!!/b%3AW1siZXh0cmFjdCIseyJsZWZ0IjoxMCwidG9wIjoxOSwid2lkdGgiOjE3OTcsImhlaWdodCI6MTMzOH1dLFsicmVzaXplIiwxNjAwXSxbIm1heCJdLFsid2UiXV0%3D.jpg);
    width: 100%;
    color: white;
    background-size: cover;
}

.eventSection h1 {
    font-style: oblique;
    font-size: 40px;
    font-family:"sofia";
    padding-top: 50px;
    margin-bottom: 40px;
}
    
.eventSection h2{
    margin-bottom: 20px;
    font-size: 18px;
}
.dateWrapper {
    display: inline-block;

}

.calendar {
   width: 100px;
   display: inline-block;
   vertical-align: top;
}

.calendarmonth {
    background-color:#aaa;
    padding-bottom: 6%;
    padding-top: 5%;
    border: solid;
    border-radius: 5px 5px 0px 0px;
    border-width: 1px;
    border-color: #aaa;
}
.calendar h3 {
    font-size: 18px;
    background-color:#aaa;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.calendarday {
   background-color: white;
   border: solid;
   border-radius: 0px 0px 5px 5px;
   border-width: 1px;
   border-color: #aaa;
}

.calendarday h2 { 
    font-size: 40px; 
    color:#aaa; 
    background-size: 100%;
    border-radius: 2px 2px ;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
 } 

 .informationarea {
    margin-bottom: 30px;
    padding-bottom: 30px;
    display: inline-block;
    width:70% ;
    margin-left: 40px;
 }

 .informationarea h1 {
    font-style: oblique;
    font-size: 26px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    padding: 0px;
 }
 .informationarea a{
     color: #cacaca;
     font-family: Helvetica, Arial, sans-serif;
     font-style: oblique;
     font-size: 18px;
     display: block;
 }
 .informationarea i {
    margin-bottom: -50px;
 }
   
 #friday {
    padding-left: 40px ;
    font-family: Helvetica, Arial, sans-serif;
    font-style: oblique;
    font-size: 18px;
 }

 .map{
    padding-left: 40px ;
 }

 .share {
    font-size: 17px; 
 }
 .material-icons{
     font-size: 60px;
 }

 .information {
     margin-bottom:40px;
     margin-top: 5px;
     padding-top:5px;
     font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold ;
 }

.shareSection a{
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: middle;
}

.Checkback{
  font-size: 20px;
  padding-bottom: 60px;
}