/* common css */

*{
    margin:0px;
    padding: 0px;
}
li{
    list-style-type: none;
}
.centeredContainer{
    width: 70%;
    margin:auto;
}
body{
    background-color: black;
    padding: 0% 2%;
}
a{
    text-decoration: none;
}
/* Header */

header{
    background-color: black;
    color: #ffffff;
}
#logoWrapper{
    display: inline-block;
}

.mainNav {
    float: right;
}
.mainNav ul{
    display: inline-block;
    font-size: 18px;
    font-family: 'Archivo Narrow',sans-serif;
}

.mainNav li{
    display: inline-block;
    padding: 0 10px;
    position: relative;  
    top: 15px; 
    font-size: 15px;
    margin-bottom: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mainNav a{
    color:#FFFFFF;
    text-decoration: none;
    transition: 0.4s; /*სილამაზისთვის*/
}
.mainNav a:hover{
    color:#cacaca;
    text-decoration: none;
}

/* footer */

footer{
    margin: 50px 0px;
}


footer p{
    font-size: 18px;
    font-family: 'Archivo Narrow',sans-serif;
    color: white;
    margin-bottom: 50px;
    text-align:center;
}


footer li{
    display: inline-block;
    margin: 10px; 
    font-size: 18px;
    font-family: 'Archivo Narrow',sans-serif;
}

footer ul{
    text-align:center;
}


footer a{
    color:#cacaca;
    


}

#Terms {
    display: block;
    text-align: center;
    text-decoration: underline;
}



footer a:hover{  
    color: rgba(155,155,155,0.6);
}
/* aboutSection */


.aboutSection{
    background-image: url("https://imagery.zoogletools.com/u/283782/e8ed52e7ec7b9da7664f588ac420000927e93f2f/original/bird.jpg/!!/b%3AW1siZXh0cmFjdCIseyJsZWZ0IjowLCJ0b3AiOjEyMSwid2lkdGgiOjE5OTYsImhlaWdodCI6MTQ2OX1dLFsicmVzaXplIiwxNjAwXSxbIm1heCJdLFsid2UiXV0%3D.jpg"); 
    background-size: cover;
    width: 100%;
    color: white;
    padding: 100px 0px;
}


.aboutSection h1 {
    font-weight: 400;
    font-style: oblique;
    line-height: 1.2;
    font-size: 40px;
    font-family:"sofia";

}

 .aboutSection p{
    line-height: 1.5;
    display: block;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Archivo Narrow',sans-serif;
    padding:20px 0;
}