/* common css */


*{
    /* background-color: black; */
    margin:0px;
    padding: 0px;
}
li{
    list-style-type: none;
}

.centeredContainer{
    width: 95%;
    margin:auto;
}

/* Header */

header{
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 70px;
}
#logoWrapper{
    position: relative; top: 50px ; left: 10px;
        }

/* mainNav */

.mainNav {
    float: right;
}
.mainNav ul{
    box-sizing: border-box;
    margin-left: -0.9rem;
    margin-top: -0.5rem;
    position: relative;
    padding-left: 3.5rem;
    padding-top: .5rem;
    padding-bottom: .8em;
    display: block;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Archivo Narrow',sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    flex-direction: column;
    box-sizing: border-box;
    color: #ffffff;
}

.mainNav li{
    box-sizing: border-box;
    display: inline-block;
    padding: 0 10px;
    position: relative; top: 10px; right:5px; 
    white-space: nowrap;
    text-decoration: none;
    margin-left: 10px;
    margin-right: calc(-12px + 1vw);
    list-style: none;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Archivo Narrow',sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    opacity: 1;
   margin-bottom: 80px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.mainNav a{
    color:#FFFFFF;
    text-decoration: none;
}
.mainNav a:hover{
    color:#cacaca;
    text-decoration: none;
}

/* footer */

footer{
    background-color: black;
    padding: 300px 0px 100px 10px;
    box-sizing: border-box;
    color:#cacaca;
    margin-top: 800px;
}


footer p{
    box-sizing: border-box;
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Archivo Narrow',sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    box-sizing: border-box;
    position: relative;left: 552px; top:10px;
    color: white;
}


footer li{
    box-sizing: border-box;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    margin: 10px;
    color:#cacaca;
}

footer ul{
    box-sizing: border-box;
    position: relative;left: -95px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Archivo Narrow',sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color:#cacaca; 
}


footer a{box-sizing: border-box;
    color:#cacaca;
    position: relative ; top: 30px; left: 625px;
}
footer a:hover{
    
    color: rgba(155,155,155,0.6);
}
/* about and backgroundSection */


.aboutSection{
    position: relative;bottom:120px ; 
    padding: 40px 0px;
    text-align: center;
    font: raleway,sans-serif;
    color: #ffffff !important;
    display: block;
    height: 150%;
    width: 100%;
    box-sizing: border-box;
    background-position: 58% 27%;
    background-color: black;
    margin-bottom: -1100px;
}
.backgroundSection {
    background-image: url("https://imagery.zoogletools.com/u/283782/e8ed52e7ec7b9da7664f588ac420000927e93f2f/original/bird.jpg/!!/b%3AW1siZXh0cmFjdCIseyJsZWZ0IjowLCJ0b3AiOjEyMSwid2lkdGgiOjE5OTYsImhlaWdodCI6MTQ2OX1dLFsicmVzaXplIiwxNjAwXSxbIm1heCJdLFsid2UiXV0%3D.jpg");
    background-position: 58% 27%;
    background-repeat: no-repeat; 
    /* opacity: 0.3; */
    /* filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3; */
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: relative;
    height: 1020px;
}

.aboutSection h1 {
    position: relative;left: 180px; top: 15px;
    box-sizing: border-box;
    text-align: left;
    font-weight: 400;
    font-style: oblique;
    letter-spacing: 0;
    line-height: 1.2;
    text-transform: none;
    font-size: 40px;
    word-wrap: break-word;
    font-weight: bold;
    font-family:"sofia";
    margin-bottom: 60px;
}
.opacity {
    background-color: rgba(rgba(5, 5, 5, 0.37), green, blue, alpha) !important;
    position: absolute;
}

#p1{
    position: relative;
    text-align: left;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Archivo Narrow',sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    margin-right: 170px;
    margin-left: 180px;
}
   

#p2{
    text-align: left;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Archivo Narrow',sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    margin-right: 170px;
    margin-left: 180px;
}
#p3{
    text-align: left;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Archivo Narrow',sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    margin-right: 170px;
    margin-left: 180px;
}
#p4{ 
    text-align: left;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Archivo Narrow',sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    margin-right: 170px;
    margin-left: 180px;
}
#p5{
    text-align: left;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Archivo Narrow',sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    margin-right: 170px;
    margin-left: 180px;
}
#p6{
    text-align: left;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    line-height: 1.5;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #ffffff;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'Archivo Narrow',sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    margin-right: 170px;
    margin-left: 180px;
}

