/* eventSection */

.eventSection{
    background-image: url(https://imagery.zoogletools.com/u/283782/0b74025dbeb928866ee146bde7443c576b70cb89/original/branch.jpg/!!/b%3AW1siZXh0cmFjdCIseyJsZWZ0IjoxMCwidG9wIjoxOSwid2lkdGgiOjE3OTcsImhlaWdodCI6MTMzOH1dLFsicmVzaXplIiwxNjAwXSxbIm1heCJdLFsid2UiXV0%3D.jpg);
    width: 100%;
    color: white;
    background-size: cover;
}

.eventSection h1 {
    text-align: left;
    font-weight: 400;
    font-style: oblique;
    line-height: 1.2;
    font-size: 40px;
    font-family:"sofia";
    padding-top: 50px;
    margin-bottom: 40px;
}
    
.eventSection h2{
    margin-bottom: 20px;
}
.date {
    /* background-color: tomato; */
    /* margin-left: 10%; */
    /* padding-bottom: 1%; */
     /* margin-right:-50%; */
}

.calendarone {
    margin-right: 90%;
}

.calendaronemonth {
    background-color:#aaa;
    padding-bottom: 6%;
    padding-top: 5%;
    border: solid;
    border-radius: 5px 5px 0px 0px;
    border-width: 1px 1px;
    border-color: #aaa;
}
.calendarone h3 {
    font-size: 18px;
    background-color:#aaa;
    background-size: 100%;
    /* box-sizing: border-box; */
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
   line-height: 1.2; 
}

.calendaroneday {
       background-color: white;
       /* padding-bottom: 10%; */
       border: solid;
       border-radius: 0px 0px 5px 5px;
       border-width: 1px 1px;
       border-color: #aaa;
}

.calendaroneday h2 { 
     font-size: 40px; 
     color:#aaa; 
    background-size: 100%;
    /* box-sizing: border-box; */
    border-radius: 2px 2px ;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
   line-height: 1.2; 
 } 

 .informationarea {
      margin-right: -960%;
      margin-top: -156px;
    padding-left: 160%;
    margin-bottom: 30px;
    padding-bottom: 30px;
 }

 .informationarea h1 {
    font-weight: 400;
    font-style: oblique;
    font-size: 26px;
    font-family: Helvetica, Arial, sans-serif;
   margin-bottom: -0.02px;
   margin-bottom: 10px;
 }
 .informationarea a{
     color: #cacaca;
     font-family: Helvetica, Arial, sans-serif;
     font-style: oblique;
     font-size: 18px;
     display: block;
 }
 .informationarea i {
    margin-bottom: -50px;
 }
   
 #friday {
    padding-left: 4% ;
    font-family: Helvetica, Arial, sans-serif;
    font-style: oblique;
    font-size: 18px;
    margin-bottom: -15px;
 }

 .map{
    padding-left: 2% ;
 }

 .share {
    font-size: 17px;
 }
 .material-icons{
     font-size: 60px;
 }

 .information {
     margin-bottom:40px;
     margin-top: 5px;
     padding-top:5px;
     font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold ;
 }

.shareSection a{
    display: inline-block;
    margin-bottom: 20px;
}

.Checkback{
  font-size: 20px;
  padding-bottom: 60px;
}